In [ ]:
# what is an example of python code for creating two outputs in a neural network?

In [18]:
import pandas as pd

# Load the CSV file into a pandas dataframe
MMStats = pd.read_csv('FUStats.csv')

# Divide inputs from outputs
X = MMStats.drop(columns=['AFScore','AUScore'])
y =  MMStats[['AFScore','AUScore']]

X.head()
#y.head()

,Year,Round,Region,Game,AFSeed,AFTeam,AUSeed,AUTeam,Fti,Uti,...,W_y,L_y,Pts_y,Opp_y,MOV_y,SOS_y,OSRS_y,DSRS_y,SRS_y,PASE_y
0,2008,PI,PI,-1,16,Mount St. Mary's,16,Coppin St.,2,65,...,16.0,21.0,59.8,66.0,-6.24,-6.20,-12.38,-2.13,-14.51,0.241228
1,2008,1,NW,1,1,North Carolina,16,Mount St. Mary's,1,2,...,19.0,15.0,69.2,67.7,1.53,-5.12,-3.87,0.28,-3.59,0.493421
2,2008,1,NW,2,8,Indiana,9,Arkansas,3,4,...,23.0,12.0,74.1,68.3,5.74,6.73,6.67,5.81,12.48,0.269165
3,2008,1,NW,3,5,Notre Dame,12,George Mason,5,6,...,23.0,11.0,69.3,62.5,6.82,-0.75,0.96,5.11,6.07,0.458333
4,2008,1,NW,4,4,Washington St.,13,Winthrop,7,8,...,22.0,12.0,64.9,58.5,6.32,-1.45,-7.17,10.78,3.61,-0.116959

In [11]:
from sklearn.model_selection import train_test_split

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [17]:
from keras.models import Sequential
from keras.layers import Dense

# Define the model architecture
model = Sequential()
model.add(Dense(22, input_shape=(44,), activation='relu'))

model.add(Dense(2, activation='softmax'))

# Compile the model
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

# Train the model
model.fit(X_train, y_train, epochs=8, batch_size=32)

# Evaluate the model
loss, accuracy = model.evaluate(X_test, y_test, batch_size=32)

# Predict using the model
predictions = model.predict(X_test)

predictions

Epoch 1/8
25/25 [==============================] - 1s 3ms/step - loss: nan - accuracy: 0.7345
Epoch 2/8
25/25 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.7345
Epoch 3/8
25/25 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.7345
Epoch 4/8
25/25 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.7345
Epoch 5/8
25/25 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.7345
Epoch 6/8
25/25 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.7345
Epoch 7/8
25/25 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.7345
Epoch 8/8
25/25 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.7345
7/7 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.7306
7/7 [==============================] - 0s 2ms/step

array([[nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan]], dtype=float32)