In [ ]:
# https://python-course.eu/numerical-programming/pandas-pivot.php

In [2]:
import pandas as pd

d = {'A': ['kırmızı', 'yeşil', 'mavi', 'kırmızı', 'yeşil', 'mavi'],
     'B': ['bir', 'iki', 'bir',  'iki',  'bir', 'iki'],
     'C': [345, 325, 898, 989, 23, 143],
     'D': [1, 2, 3, 4, 5, 6]}

df = pd.DataFrame(d)
df

         A    B    C  D
0  kırmızı  bir  345  1
1    yeşil  iki  325  2
2     mavi  bir  898  3
3  kırmızı  iki  989  4
4    yeşil  bir   23  5
5     mavi  iki  143  6

In [3]:
df2 = df.pivot(index='A',
               columns='B')

df2

           C        D
B        bir  iki bir iki
A
kırmızı  345  989   1   4
mavi     898  143   3   6
yeşil     23  325   5   2

In [5]:
df2 = df.pivot(index='A',
               columns='B',
               values=['C', 'D'])
df2

           C        D
B        bir  iki bir iki
A
kırmızı  345  989   1   4
mavi     898  143   3   6
yeşil     23  325   5   2

In [6]:
df3 = df.pivot(index='A',
               columns='B',
               values='C')

df3

B        bir  iki
A
kırmızı  345  989
mavi     898  143
yeşil     23  325

In [7]:
d = {"products": ["product1", "product1", "product2", "product3"],
     "colours": ["blue", "green", "blue", "green"],
     "customer_price": [2345.89, 2390.50, 1820.00, 3100.00],
     "non_customer_price": [2445.89, 2495.50, 1980.00, 3400.00]}

df = pd.DataFrame(d)
print(df)

   products colours  customer_price  non_customer_price
0  product1    blue         2345.89             2445.89
1  product1   green         2390.50             2495.50
2  product2    blue         1820.00             1980.00
3  product3   green         3100.00             3400.00

In [8]:
df2 = df.pivot(index='products',
              columns='colours',
              values='customer_price')

print(df2)

colours      blue   green
products
product1  2345.89  2390.5
product2  1820.00     NaN
product3      NaN  3100.0

In [9]:
df3 = df.pivot(index='products', 
               columns='colours', 
               values=['customer_price', 'non_customer_price'])

print(df3)

         customer_price         non_customer_price
colours            blue   green               blue   green
products
product1        2345.89  2390.5            2445.89  2495.5
product2        1820.00     NaN            1980.00     NaN
product3            NaN  3100.0                NaN  3400.0