In [ ]:
# https://python-course.eu/numerical-programming/net-income-method-example-with-numpy-matplotlib-and-scipy.php

In [2]:
import pandas as pd

with pd.ExcelFile("./data1/net_income_method_2020.xlsx") as xl:
    accounts2descr = xl.parse("account numbers", 
                              index_col=0)
    journal = xl.parse("journal", 
                       index_col=0,
                      )
    
journal.index = pd.to_datetime(journal.index)
journal.index

DatetimeIndex(['2020-04-02', '2020-04-02', '2020-04-02', '2020-04-02',
               '2020-04-02', '2020-04-02', '2020-04-05', '2020-04-05',
               '2020-04-05', '2020-04-05', '2020-04-09', '2020-04-09',
               '2020-04-10', '2020-04-10', '2020-04-10', '2020-04-10',
               '2020-04-10', '2020-04-10', '2020-04-13', '2020-04-13',
               '2020-04-13', '2020-04-26', '2020-04-26', '2020-04-26',
               '2020-04-26', '2020-04-27', '2020-05-03', '2020-05-03',
               '2020-05-03', '2020-05-03', '2020-05-05', '2020-05-05',
               '2020-05-08', '2020-05-09', '2020-05-10', '2020-05-11',
               '2020-05-11', '2020-05-11', '2020-05-11', '2020-05-11',
               '2020-05-13', '2020-05-18', '2020-05-25', '2020-05-25',
               '2020-06-01', '2020-06-02', '2020-06-03', '2020-06-03',
               '2020-06-04', '2020-06-04', '2020-06-09', '2020-06-10',
               '2020-06-10', '2020-06-11', '2020-06-11', '2020-06-11',
               '2020-06-11', '2020-06-11', '2020-06-12', '2020-06-13',
               '2020-06-13', '2020-06-26', '2020-06-26', '2020-06-27',
               '2020-07-02', '2020-07-03', '2020-07-05', '2020-07-05',
               '2020-07-08', '2020-07-09', '2020-07-10', '2020-07-10',
               '2020-07-10', '2020-07-10', '2020-07-10', '2020-07-10',
               '2020-07-11', '2020-07-11', '2020-07-13', '2020-07-18',
               '2020-07-23', '2020-07-23', '2020-07-25', '2020-07-25',
               '2020-07-27', '2020-07-26', '2020-07-28'],
              dtype='datetime64[ns]', name='date', freq=None)

In [3]:
accounts2descr

                     description
account
4400        revenue plant Munich
4401     revenue plant Frankfurt
4402        revenue plant Berlin
2010                   souvenirs
2020                     clothes
2030              other articles
2050                       books
2100                  insurances
2200                       wages
2300                       loans
2400                      hotels
2500                      petrol
2600           telecommunication
2610                    internet

In [4]:
journal[:10]

,account number,document number,description,tax rate,gross amount
date,,,,,
2020-04-02,4402,8983233038,"Zurkan, Köln",19,4105.98
2020-04-02,2010,57550799,"Birmann, Souvenirs",19,-1890.00
2020-04-02,2200,14989004,wages,0,-17478.23
2020-04-02,2500,12766279,"Filling Station, Petrol",19,-89.40
2020-04-02,4400,3733462359,"EnergyCom, Hamburg",19,4663.54
2020-04-02,4402,7526058231,"Enoigo, Strasbourg",19,2412.82
2020-04-05,4402,1157284466,"Qbooks, Frankfurt",7,2631.42
2020-04-05,4402,7009463592,"Qbooks, Köln",7,3628.45
2020-04-05,2020,68433353,"Jamdon, Clothes",19,-1900.00
2020-04-05,2010,53353169,"Outleg, Souvenirs",19,-2200.00