In [ ]:
# https://python-course.eu/numerical-programming/pandas-groupby.php

In [ ]:
import pandas as pd
import numpy as np
import random

nvalues = 30
# we create random values, which will be used as the Series values:
values = np.random.randint(1, 20, (nvalues,))
fruits = ["bananas", "oranges", "apples", "clementines", "cherries", "pears"]
fruits_index = np.random.choice(fruits, (nvalues,))

s = pd.Series(values, index=fruits_index)
print(s[:100])

In [ ]:
grouped = s.groupby(s.index)

for fruit, s_obj in grouped:
    print(f"===== {fruit} =====")
    print(s_obj)

In [6]:
for fruit in set(s.index):
    print(f"===== {fruit} =====")
    print(s[fruit])

===== oranges =====
oranges    18
oranges    15
oranges    18
oranges    13
oranges    15
dtype: int64
===== cherries =====
cherries    17
cherries    16
cherries    16
cherries     1
dtype: int64
===== clementines =====
clementines    11
clementines    17
clementines    10
clementines    12
clementines    16
dtype: int64
===== bananas =====
bananas    10
bananas     5
bananas    12
bananas     3
bananas     9
bananas    13
dtype: int64
===== pears =====
pears     2
pears    12
pears    19
pears    11
pears    13
pears     7
dtype: int64
===== apples =====
apples     4
apples    17
apples     5
apples    13
dtype: int64

In [7]:
import pandas as pd
beverages = pd.DataFrame({'Name': ['Robert', 'Melinda', 'Brenda',
                                   'Samantha', 'Melinda', 'Robert',
                                   'Melinda', 'Brenda', 'Samantha'],
                          'Coffee': [3, 0, 2, 2, 0, 2, 0, 1, 3],
                          'Tea':    [0, 4, 2, 0, 3, 0, 3, 2, 0]})
    
beverages

       Name  Coffee  Tea
0    Robert       3    0
1   Melinda       0    4
2    Brenda       2    2
3  Samantha       2    0
4   Melinda       0    3
5    Robert       2    0
6   Melinda       0    3
7    Brenda       1    2
8  Samantha       3    0

In [8]:
beverages['Coffee'].sum()

13