In [ ]:
# https://python-course.eu/numerical-programming/python-date-and-time.php

In [1]:
from datetime import date

x = date(1993, 12, 14)
print(x)

1993-12-14

In [2]:
from datetime import date

print(date.min)
print(date.max)

0001-01-01
9999-12-31

In [3]:
x.toordinal()

727911

In [4]:
date.fromordinal(727911)

datetime.date(1993, 12, 14)

In [5]:
x.weekday()

1

In [9]:
x = date.today()
x

datetime.date(2022, 12, 4)

In [10]:
print(x.day)
print(x.month)
print(x.year)

4
12
2022

In [11]:
from datetime import time

t = time(15, 6, 23)
print(t)

15:06:23

In [12]:
print(time.min)
print(time.max)

00:00:00
23:59:59.999999

In [13]:
t = t.replace(hour=11, minute=59)
t

datetime.time(11, 59, 23)

In [14]:
x.ctime()

'Sun Dec  4 00:00:00 2022'

In [15]:
from datetime import datetime
t = datetime(2017, 4, 19, 16, 31, 0)
t

datetime.datetime(2017, 4, 19, 16, 31)

In [16]:
t.tzinfo == None

True

In [17]:
from datetime import datetime
import pytz
t = datetime.now(pytz.utc)

In [18]:
from datetime import datetime, timedelta as delta
ndays = 15
start = datetime(1991, 4, 30)
dates = [start - delta(days=x) for x in range(0, ndays)]
dates

[datetime.datetime(1991, 4, 30, 0, 0),
 datetime.datetime(1991, 4, 29, 0, 0),
 datetime.datetime(1991, 4, 28, 0, 0),
 datetime.datetime(1991, 4, 27, 0, 0),
 datetime.datetime(1991, 4, 26, 0, 0),
 datetime.datetime(1991, 4, 25, 0, 0),
 datetime.datetime(1991, 4, 24, 0, 0),
 datetime.datetime(1991, 4, 23, 0, 0),
 datetime.datetime(1991, 4, 22, 0, 0),
 datetime.datetime(1991, 4, 21, 0, 0),
 datetime.datetime(1991, 4, 20, 0, 0),
 datetime.datetime(1991, 4, 19, 0, 0),
 datetime.datetime(1991, 4, 18, 0, 0),
 datetime.datetime(1991, 4, 17, 0, 0),
 datetime.datetime(1991, 4, 16, 0, 0)]

In [19]:
from datetime import datetime

delta = datetime(1993, 12, 14) - datetime(1991, 4, 30)
delta, type(delta)

(datetime.timedelta(days=959), datetime.timedelta)

In [20]:
delta.days

959

In [21]:
t1 = datetime(2017, 1, 31, 14, 17)
t2 = datetime(2015, 12, 15, 16, 59)
delta = t1 - t2
delta.days, delta.seconds

(412, 76680)

In [22]:
from datetime import datetime, timedelta
d1 = datetime(1991, 4, 30)
d2 = d1 + timedelta(10)
print(d2)
print(d2 - d1)

d3 = d1 - timedelta(100)
print(d3)
d4 = d1 - 2 * timedelta(50)
print(d4)

1991-05-10 00:00:00
10 days, 0:00:00
1991-01-20 00:00:00
1991-01-20 00:00:00

In [23]:
print(d1.strftime('%Y-%m-%d'))
print("weekday: " + d1.strftime('%a'))
print("weekday as a full name: " + d1.strftime('%A'))

# Weekday as a decimal number, where 0 is Sunday 
# and 6 is Saturday
print("weekday as a decimal number: " + d1.strftime('%w'))

1991-04-30
weekday: Tue
weekday as a full name: Tuesday
weekday as a decimal number: 2

In [24]:
# Day of the month as a zero-padded decimal number. 
# 01, 02, ..., 31
print(d1.strftime('%d'))

# Month as locale’s abbreviated name. 
# Jan, Feb, ..., Dec (en_US); 
# Jan, Feb, ..., Dez (de_DE)
print(d1.strftime('%b'))

# Month as locale’s full name. 	
# January, February, ..., December (en_US);
# Januar, Februar, ..., Dezember (de_DE)
print(d1.strftime('%B'))

# Month as a zero-padded decimal number. 
# 01, 02, ..., 12
print(d1.strftime('%m'))

30
Apr
April
04

In [25]:
from datetime import datetime
t = datetime.strptime("30 Nov 00", "%d %b %y")
print(t)

2000-11-30 00:00:00

In [26]:
dt = "2007-03-04T21:08:12"
datetime.strptime( dt, "%Y-%m-%dT%H:%M:%S" )

datetime.datetime(2007, 3, 4, 21, 8, 12)

In [27]:
dt = '12/24/1957 4:03:29 AM'
dt = datetime.strptime(dt, '%m/%d/%Y %I:%M:%S %p')
dt

datetime.datetime(1957, 12, 24, 4, 3, 29)